@charset"utf-8";




body {
    width: 960px;
    margin: 0px auto;
}




ul,
li {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}


.top-header {
    padding: 0;
    margin: 0 auto;
}

.top-header {
    padding: 20px 25px 30px;
    vertical-align: top;
}

.logoimg {
    display: inline-block;
    height: 65px;
    width: 60px;
    vertical-align: bottom;
}

.logotext {
    display: inline-block;
    vertical-align: bottom;
}

.logotext h1 {
    font-size: 36px;
    line-height: 1;
    margin: -8px 0 0 0;
    padding: 0;
}

.logotext h2 {
    font-size: 20px;
    font-weight: 00;
    line-height: 1;
    margin: 0 0 -8px 0;
    padding: 0;
}

main {
    height: auto;
    margin: 1.5vw;
    display: flex;
    flex-wrap: wrap
}

main h3 {
    border-left: solid 3px;
    padding-left: 5px;
}

.notice ,.public-events ,.update-history ,.entrance-examination{
    margin-bottom: 4vw;
}

.notice {
    flex: 35%;

}

.public-events {
    flex: 60%;
}

.update-history {
    flex: 35%;
}


.entrance-examination {
    flex: 60%;
}

.public-events ul,
.entrance-examination ul {
    padding-left: 1.5em;
}

.table1 a {
    display: block;
    width: 100%;
}


.table1 .no-dot {
    margin-left: -1.5em;
}

footer {
    position: relative;
    top: 5px;
    padding: 15px;
    text-align: right;
    font-size: 12px;
}

footer p,
address {
    display: inline;
    white-space: pre;
}

.sp-only {
    display: none;
}

.no-dot {
    list-style-type: none;
    padding-left: 0;
}

strong{
    font-size: 15px
}



/* 配色、字体設定　*/

html {
    background-color: #56b2b2;
    /*ベ-スカラー*/
    font-family: 'M PLUS 1p', sans-serif;
    /*メイン字体*/
}

body {
    background-color: white;
}


.logotext {
    font-family: 'Noto Serif JP', serif;
    /*サブ字体*/
    color: #006a6c;
    /*アクセントカラー*/
}

.logotext h1{
    font-weight: 900;
    font: bold;
}

.logotext h2{
    font-weight: 900;
}

main h3 {
    border-left-color: #006a6c;
    /*アクセントカラー*/
}

footer {
    background: #006a6c;
    /*アクセントカラー*/
    color: white;
}

.button1 li {
    background-color: #FFFACD;
    /*メインカラー*/
}

.button1 a {
    color: black;
}

.button1 a:hover {
    background-color: #006a6c;
    /*アクセントカラーかメインカラーの濃い色*/
    color: white;
}

nav {
    background-color: #006a6c;
    /*メインカラー*/
    border-top: 2px solid #CEF6E3;
    /*枠線*/
    /* バーの上端線 */
    border-bottom: 2px solid #CEF6E3;
    /*枠線*/
    /* バーの下端線 */
}

nav li {
    border: 1px solid #CEF6E3;
    /*枠線*/
}



nav li a {
    color: white;
    /* メニュー項目の文字色 */
    font-weight: 600;
}

nav li a:hover {
    background-color: #006a6c;
    /*アクセントカラー*/
    color: white;
}

.subnav {
    border-color: #006a6c;
}

.subnav li {
    border: 1.3px solid #CEF6E3;
}

.subnav li a {
    background-color: white;
    color: #02590F;
    /*アクセントカラー*/
}

ul.subnav a:hover {
    background-color: #006a6c;
    /*アクセントカラー*/
    color: white;
}

.table1 th {
    background-color: #E0F8E6;
    /*メインカラー*/
}

.table1 th li {
    background-color: #E0F8E6;
    /*メインカラー*/
    color: black;
}

.table1 th a {
    color: black;
}


.table1 a:hover {
    background-color: #006a6c;
    /*アクセントカラー*/
    color: white;
}





@media screen and (max-width:768px) {

    .nav-list li {
        border: 1px solid #CEF6E3;
        /*枠線*/
    }


}

/* */
